* {
    box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}
html {
    font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}
body {
    font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
    font-family:"Open Sans",sans-serif;
    text-align:center;
    color:#666;
    background-color: #f2f2f2;
    height: 100%;
}
img {
    max-width: 100%;
    width: auto; /* pour ie */
    height: auto;
}
main{
  margin: auto;  
  line-height: 1.8;
}
#footer{
    /* margin-bottom: 0rem; */
    
    justify-content: flex-end;
    height: 10%;
}
.clear {
    clear: both;
}
a{
    text-decoration:none;
    color: #000000;
}
.flex{
    display:flex;
}
.around{
    justify-content:space-around;
}
.evenly{
    justify-content:space-evenly;
}
.center{
    align-items:center;
}
.jcenter{
    justify-content:center;
}
.column{
    flex-direction:column;
}
.wrap{
    flex-wrap:wrap;
    /*justify-content: space-around;*/
}
.wrapper {
    text-align: center;
}
#container{
    display: flex;
    flex-direction: column;
    max-width:1025px;
}
li{
    list-style:none;
}