<nav>
    <button><a href="/">home</a></button>
    <button><a href="/cart">cart</a></button>
    <button><a href="/user">login/register</a></button>
    <% %>
    <button><a href="/user/logout">logout</a></button>
</nav>