<nav>
    <button><a href="/">home</a></button>
    <button><a href="/cart">cart</a></button>
    <button><a href="/login">login</a></button>
    <% %>
    <button><a href="/logout">logout</a></button>
</nav>