<nav>
    <a href="/">accueil</a>
    <a href="/cart/display">panier</a>    
    <% if(locals.isLoggedIn){ %>
    <a href="/user/logout">deconnexion</a>
    <% } else { %>
    <a href="/user">connexion / inscription</a>
    <% } %>
</nav>