<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <header id="header">
        <%- include('../parts/header'); %>
    </header>

    <main>
        <div id="container">
            <p>Here is your cart</p>
        </div>
    </main>

    <footer id="footer">
        <%- include('../parts/footer'); %>
    </footer>
</body>
</html>