<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <header id="header">
        <%- include('../parts/header',{isLoggedIn: locals.isLoggedIn}); %>
    </header>

    <main>
        <div id="container">
            <% if(locals.message) { %>
                <p><%= locals.message %></p>
            <% } %>
            <h1>Bienvenue sur Zalem</h1>
            <div class="productDiv">
                <h2>Implant occulaire</h2>
                <img src="/img/cybereye.jpg" alt="Image implant occulaire" id="cybereye">
                <p class="description">Grâce à notre implant oculaire de dernière technologie plus rien n'aura de secret pour vous, alors essayez le !</p>
                <p class="prix">2000 €</p>
                
                <a href="/cart/add/1">Ajouter au panier</a>
            </div>
            <div class="productDiv">
                <h2>Bras artificiel</h2>
                <img src="/img/cyberarm.jpg" alt="Image bras artificiel" id="cyberarm">
                <p class="description">Bras artificiel permettant de porter de lourdes charges</p>
                <p class="prix">3800 €</p>
                <a href="/cart/add/2">Ajouter au panier</a>
            </div>
            <div class="productDiv">
                <h2>Jambe artificielle</h2>
                <img src="/img/cyberleg.jpg" alt="Image jambe artificielle" id="cyberleg">
                <p class="description">Jambe artificielle permettant une meilleure endurance</p>
                <p>4 500 €</p>
                <a href="/cart/add/3">Ajouter au panier</a>
            </div>
        </div>
    </main>

    <footer id="footer">
        <%- include('../parts/footer'); %>
    </footer>
</body>
</html>