<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <header id="header">
        <%- include('../parts/header'); %>
    </header>

    <main>
        <div id="container">
            <% if(locals.loginError) { %>
                <p><%= locals.loginError %></p>
                <% } %>
            <div class="formDiv">
                
                <h2>connectez vous</h2>
                <form action="/user/login" method="post">

                    <input type="text" name="name" placeholder="identifiant" />                
                    <input type="password" name="psw" placeholder="mot de passe" />
                    <input type="submit" name="login" value="connexion"/>

                </form>
            </div>

            <div class="formDiv">
                
                <h2>Inscrivez vous</h2>
                <form action="/user/register" method="post" class="registerForm">

                    <input type="text" name="name" placeholder="identifiant" minlength="4" maxlength="12" size="12" />
                    <input type="email" name="email" placeholder="email" minlength="6" maxlength="25" size="25" />
                    <input type="password" name="psw" placeholder="mot de passe" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" />
                    <input type="text" name="numStreet" placeholder="numéro de rue" pattern="^[0-9]{1,4}$" />
                    <input type="text" name="street" placeholder="nom de rue" pattern="^[a-zA-Z0-9_ ]*$" />
                    <input type="text" name="city" placeholder="ville" pattern="^[a-zA-Z_ ]*$" />
                    <input type="text" name="postalCode" placeholder="code postal" pattern="^[0-9]{5}$" />
                    <input type="submit" name="register" value="Valider"/>

                </form>
            </div>
        </div>
    </main>

    <footer id="footer">
        <%- include('../parts/footer'); %>
    </footer>
</body>
</html>