<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <header id="header">
        <%- include('../parts/header'); %>
    </header>

    <main>
        <div id="container">
            <% if(locals.loginError) { %>
                <p><%= locals.loginError %></p>
                <% } %>
            <div class="formDiv">
                
                <h2>connectez vous</h2>
                <form action="/user/login" method="post">

                    <input type="text" name="name" placeholder="name" />                
                    <input type="password" name="psw" placeholder="password" />
                    <input type="submit" name="login" value="login"/>

                </form>
            </div>

            <div class="formDiv">
                
                <h2>Inscrivez vous</h2>
                <form action="/user/register" method="post">

                    <input type="text" name="name" placeholder="name" />
                    <input type="text" name="email" placeholder="email" />
                    <input type="password" name="psw" placeholder="password" />
                    <input type="submit" name="register" value="register"/>

                </form>
            </div>
        </div>
    </main>

    <footer id="footer">
        <%- include('../parts/footer'); %>
    </footer>
</body>
</html>